a {
    position: relative;
    color: #e1003c;
    text-decoration: none;
}

a::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 2px;
    background-color: #e1003c;
    transition: width 0.5s ease;
}

a:hover::before {
    width: 100%;
}
